/* odstraneni odrazek*/
ul {
    list-style-type: none;margin:0;padding:0;
    overflow: hidden;
    background-color: #887979;
    margin: 0;}

/* seradi to vertikalne napr. zleva*/
li {
    float: left;
    /* nastavujeme mezery mezi prvkami*/
    padding: 15px 15px 15px 15px;
    }

a:link {color: antiquewhite;}
a:visited {color: #d1ccb7;}
a:hover {color: black; background-color: antiquewhite;}

a   {
    text-decoration: none;
    font-size: 25px;
    font-style: bold;}

    /* pomoci toho schovame tri prvkz ktere nechceme aby se zobrazovali*/
.dropdown-content {
    display: none;
}
